.button {
    text-decoration: none;
    color: inherit;
    background-color: #fc6d00;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.relativeButton {
    position: relative;
    bottom: -15px;
}

label {
    color: white;
}

.dropdown {
    margin: 10px;
}

.inlineNumberIN {
    max-width: 30px;
}

.smallTextInput {
    margin: 10px
}

.bigTextInput {
    margin: 10px;
    width: 80%;
}